!*.v
!*.sv
!*.qpf
!*.qsf
!*.do
!*.txt
!*.sdc

*.rpt
*.smsg
*.summary
*.done
*.pof
*.sof
*.jdi
*.pin
*.sld
*.qmsg
*.log
*.html
*.mif
*.wlf
*.rdb
*.cdb
*.hdb
*.ddb
*.tdb
*.kpt
*.qdb
*.qpg
*.qtl
*.bak*
*.flock
*.sig
*.ammdb
*.xml
*.reg_db.*
*.transcript
*.ini
*.qws
*.qdf
quartus/**/db/
quartus/**/incremental_db/
quartus/**/output_files/
quartus/**/simulation/modelsim/rtl_work/
quartus/**/simulation/modelsim/*.wlf
quartus/**/simulation/modelsim/*_bak*
quartus/**/simulation/modelsim/_opt*
quartus/**/simulation/modelsim/_temp*
quartus/**/msim_transcript
quartus/**/timing_log.txt
*dual*.v
data.txt
*data*.txt
quartus/**/simulation/**/image_rom.txt